.light-theme {
    --bgcolor: var(--white);
    --containercolor: var(--white);
    --fontcolor: var(--black);
    --titlecolor: var(--c444444);
    --shadowcolor1: var(--d1d9e6);
    --shadowcolor2: var(--white);
    --bordercolor: var(--acacac);
    --overlaycolor: var(--acacac);
}

.dark-theme {
    --bgcolor: var(--greyDark);
    --containercolor: var(--grey);
    --fontcolor: var(--white);
    --titlecolor: var(--white);
    --shadowcolor1: var(--transparent);
    --shadowcolor2: var(--transparent);
    --bordercolor: var(--black);
    --overlaycolor: var(--black);
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

:root {
    --white: white;
    --greyDark: rgb(22, 22, 22);
    --grey: rgb(29, 29, 29);
    --black: black;
    --d1d9e6: #d1d9e6;
    --c1b1717: #1b1717;
    --acacac: rgb(172, 172, 172);
    --c444444: rgb(68, 68, 68);
    --transparent: transparent;
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}